@use '../../foundation/variables' as v;

.c-link-button{
  position: relative;
  display: inline-block;
  min-width: 160px;
  padding: 14px 0;
  color: v.$color-text;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  &::before,
  &::after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    transition: width 0.3s ease, height 0.3s ease;
  }

  &::before{
    top: 0;
    left: 0;
    border-top: 2px solid v.$color-accent;
    border-left: 2px solid v.$color-accent;
  }

  &::after{
    right: 0;
    bottom: 0;
    border-right: 2px solid v.$color-accent;
    border-bottom: 2px solid v.$color-accent;
  }

  &:hover,
  &:focus-visible{
    &::before,
    &::after{
      width: 100%;
      height: 100%;
    }
  }
}