@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;

.p-about{
  .c-section-title{
    background: center center / cover no-repeat url('../img/about.jpg');
  }

  &__content{
    padding-top: 40px;
  }

  &__title{
    display: block;
    width: fit-content;
    margin: 0 auto 28px;
    padding-bottom: 16px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-bottom: 6px solid v.$color-accent;
  }

  &__text{
    margin-bottom: 40px;
    font-size: 0.875rem;
    line-height: 2;

    p + p{
      margin-top: 24px;
    }
  }

  &__button-wrap{
    text-align: center;
  }
}

@include m.mq-pc{
  .p-about{
    .c-section-title{
      background-attachment: fixed;
    }

    &__content{
      padding-top: 90px;
    }

    &__title{
      margin-bottom: 70px;
      font-size: 2.5rem;
    }

    &__text{
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 40px;
      margin-bottom: 60px;

      p + p{
        margin-top: 0;
      }
    }
  }
}
