main{
  margin-top: 20px;
}

.l-section{
  margin-bottom: 170px;
}

.l-footer{
  padding: 10px 0;
}

.c-copy{
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 0.5rem;
  line-height: 1;
  text-align: center;
}